@{
    ViewBag.Title = "LinkedOff";
}


<div>
   

    <div class="registerForm">
        <form>
            <label>First name:</label>
            <br />
            <input />
            <br />
            <label>Last name:</label>
            <br />
            <input type="email" />
            <br />
            <label>Email:</label>
            <br />
            <input type="text" />
            <br />
            <label>Password:</label>
            <br />
            <input type="password" />
            <br />
            <input type="submit" value="Register account" />
        </form>
        <p>Register an account and upload your experiences and skills!</p>
    </div>


    
</div>
